<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <style>
      header {
        padding: 10px;
        border-bottom: 1px solid #cecece;
      }
      .form-inline .form-control {
        width: 400px;
      }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul class="nav justify-content-end">
              <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <li class="nav-item">
    <a class="nav-link active" href="/">Recipies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/add">Add recipie</a>
  </li>
  <li class="nav-item">
      <a href="/logout" class="nav-link">logout</a>
  </li>
</ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer></footer>
</body>
</html>