<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Login</title>
    <style>
      form {
        width: 400px;
        margin: 100px auto;
        }
    </style>
</head>
<body>
    <form method="POST" action="/login">
  <div class="form-group">
    <label for="inputEmail">Username</label>
    <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username" required>
    <small id="username" class="form-text text-muted">We'll never share your username with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a href="/signup" style="margin: 0 50px;">New User Sign up</a>
</form>
</body>
</html>